# IntelliJ artifacts
.idea
*.iml
*.ipr
*.iws

# OS X Artifacts
.DS_Store

# Eclipse
.cproject
.project
.classpath
.settings
eclipse-classes/
.pydevproject

# Visual Studio Code artifacts
.vscode/
.history

# Debugging
ad-hoc.test
nohup.out

